/*configuracion pagina*/
body{
    font-family: 'Roboto', sans-serif !important;
}

.anchoMinimo39{
    min-width: 39px;
}
.myMarginTop3em{
    margin-top:3em;
}
.unsuscribeButton{
    margin-top: 5rem;
    margin-bottom: 5rem;
}
hr{
    margin-top:0px;
    border: 1.5px solid #efefef;
}
.container-fluid{
    margin:0px;
    padding: 0px;
}
.limpio{
    padding: 0px !important;
    margin: 0px !important;
}
/*Form 1*/
.btn-examinar{
    width: 139px;
}
.content-btn{
    padding-top: 15px;
}
/*Form 2*/
.form-2{
    margin-bottom: 15px;
}
.txtform2{
    margin-top: 10px !important;
}
.form-group{
    width: 100%;
}
/*Img perfil*/
.img-perfil{
    border: 2px solid #efefef;
    border-radius: 10%;
    padding: 2px;
    margin-left: 110px;
    margin-bottom: 20px;
    width: 150px;
}


/*ESTILOS FOOTER*/
.footer { background-color:#0c1a1e; min-height:250px; font-family: 'Open Sans', sans-serif; }
.footerleft { margin-top:50px; padding:0 36px; }
.logofooter { margin-bottom:10px; font-size:25px; color:#fff; font-weight:700;}

.footerleft p { color:#fff; font-size:12px !important; font-family: 'Open Sans', sans-serif; margin-bottom:15px;}
.footerleft p i { width:20px; color:#999;}


.paddingtop-bottom {  margin-top:50px;}
.footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:12px;}
.footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }

.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.icon-ul { list-style-type:none !important; margin:0px; padding:0px;}
.icon-ul li { line-height:75px; width:100%; float:left;}
.icon { float:left; margin-right:5px;}

/*.copyright { min-height:40px; background-color:#000000;}*/
.copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0px;}
.heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;}
.post p { font-size:12px; color:#FFF; line-height:20px;}
.post p span { display:block; color:#8f8f8f;}
.bottom_ul { list-style-type:none; float:right; margin-bottom:0px;}
.bottom_ul li { float:left; line-height:40px;}
.bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
.bottom_ul li a { color:#FFF;  font-size:12px;}


/*Media Queries*/
    @media screen and (min-width: 1200px){
    .btn-examinar{
        width: auto;
    }
    .form-group{
        width: auto;
    }
    .flex{
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .flex-img{
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
    }

    .flex-forms{
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 1;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
    }
    .flex-espacio{
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
    }

    /*Img perfil*/
    .img-perfil{
        border: 2px solid #efefef;
        border-radius: 10%;
        padding: 2px;
        margin-left: 195px;
        margin-bottom: 20px;
        width: 150px;
    }

    .content-btn{
        padding-top: 135px;
    }

    .container.form-2 {
        width: 200%;
    }
}


@media only screen and (min-width: 1900px){
    .btn-examinar{
        width: auto;
    }
    .form-group{
        width: auto;
    }
    .flex{
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .flex-img{
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
    }

    .flex-forms{
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 1;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
    }
    .flex-espacio{
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
    }

    /*Img perfil*/
    .img-perfil{
        border: 2px solid #efefef;
        border-radius: 10%;
        padding: 2px;
        margin-left: 195px;
        margin-bottom: 20px;
        width: 150px;
    }

    .content-btn{
        padding-top: 135px;
    }

}

