body{
    font-family: 'Roboto', sans-serif !important;
}

/* Tarjeta de usuario*/
.check-selector{
    margin-top: 0.9rem;
}
.foto{
    width: 200px;
    margin-left: 2rem;

}
.minHW{
    min-height: 220px; min-width: 430px;
}
.principalcontainerList{
    margin-top: 3em; padding: 0 !important; width: 940px; min-height: 730px;
}
.myPadding0{
    padding: 0px;
}
.content-info{
    border: solid 1px gray;
    height: 250px;
    width: 50%;
    margin: 0px auto;
    margin-bottom: 5rem;
}
.barra-gris{
    background: #337ab7;
    padding: 0px;
    margin-bottom: 10px;
    height: 30px;
}

/*Pagina*/
.limpio{
    padding: 0px !important;
    margin: 0px !important;
}
.tab-content{
    margin-top: 3em;
}
.content-card{
    border-bottom: solid 2px gray;
    border-left: solid 2px gray;
    margin-right: 25px;
    margin-bottom: 3em;
}
.seccion1-card{
    border-top: solid 2px gray;
    border-right: solid 2px gray;
    margin:0px;
}

.content-gray{
    background: #efefef;
    padding: 0px 0px;
}
.medio-izquierdo{
    padding-top: 10px;
}

.txt-m{
    font-size: 17px;
}
.card-footer{
    padding-top: 10px;
    padding-bottom: 10px;
    margin:0px !important;
    border-right: solid 2px gray;
}
.overFlowTextOutput{
    white-space: nowrap; width: 200px; overflow: hidden; text-overflow: '...';
}
.img-perfil{
    width: 100px;
    border-radius: 100%;
    margin: 3px 0px;
}
.shared-date{
    color: gray;
    font-size: 15px;
}
.follow{
    border:solid 0px blue;
    border-right:solid  4px #00a39e!important;
    background: #efefef !important;
    margin-right: -15px;
    margin-top: 10px;
}
.descarga{
    background: gray;
    border-radius: 5px;
    color: #fff;
    margin-top: 5px;
    width: 50px;
    height: 22px;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 0px;
}
.nombre-arti{
    font-size: 18px;
    margin-bottom: 15px;
}
.content-secion3{
    margin: 10px 0px;
}

/*raiting*/
.btn-grey{
    background-color:#D8D8D8;
    color:#FFF;
}
.rating-block{
    background-color:#FAFAFA;
    border:1px solid #EFEFEF;
    padding:15px 15px 20px 15px;
    border-radius:3px;
}
.bold{
    font-weight:700;
}
.review-block-name{
    font-size:12px;
    margin:10px 0;
}
.review-block-date{
    font-size:12px;
}
.review-block-rate{
    font-size:13px;
    margin-bottom:15px;
}
.review-block-title{
    font-size:15px;
    font-weight:700;
    margin-bottom:10px;
}
.review-block-description{
    font-size:13px;
}
/*Busqueda avanzada*/
.content-buscador{
    border: solid 1px gray;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 20px;
}
.content-btns-buscador{
    padding-top: 20px;
}
.btn-reset{
    float: right;
}
/*ESTILOS FOOTER*/
.footer { background-color:#0c1a1e; min-height:250px; font-family: 'Open Sans', sans-serif; }
.footerleft { margin-top:50px; padding:0px; }
.logofooter { margin-bottom:10px; font-size:25px; color:#fff; font-weight:700;}

.footerleft p { color:#fff; font-size:12px !important; font-family: 'Open Sans', sans-serif; margin-bottom:15px;}
.footerleft p i { width:20px; color:#999;}


.paddingtop-bottom {  margin-top:50px;}
.footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:12px;}
.footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }

.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.followButtonmargin{
    margin-left: -5rem !important;
}


.icon-ul { list-style-type:none !important; margin:0px; padding:0px;}
.icon-ul li { line-height:75px; width:100%; float:left;}
.icon { float:left; margin-right:5px;}

/*.copyright { min-height:40px; background-color:#000000;}*/
.copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0px;}
.heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;}
.post p { font-size:12px; color:#FFF; line-height:20px;}
.post p span { display:block; color:#8f8f8f;}
.bottom_ul { list-style-type:none; float:right; margin-bottom:0px;}
.bottom_ul li { float:left; line-height:40px;}
.bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
.bottom_ul li a { color:#FFF;  font-size:12px;}


@media screen and (min-width: 1200px){
    .content-card{
    border-bottom: solid 2px gray;
    border-left: solid 2px gray;
    margin-right: 25px;
    margin-bottom: 3em;
    }
    .seccion1-card{
        border-top: solid 2px gray;
        border-right: solid 2px gray;
        margin:0px;
    }

    .content-gray{
        background: #efefef;
        padding: 0px 0px;
    }
    .medio-izquierdo{
        padding-top: 10px;
    }
    .medio-derecho{
        border-top: solid 2px gray;
        border-right: solid 2px gray;
        padding-top: 45px;
        padding-bottom: 31px;
        padding-left: 0px;
    }

    .medio-derecho-toShow{
        border-top: solid 2px gray;
        border-right: solid 2px gray;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 0px;
    }
    .txt-m{
        font-size: 17px;
    }
    .card-footer{
        padding-top: 10px;
        padding-bottom: 10px;
        margin:0px !important;
        border-right: solid 2px gray;
    }
    .img-perfil{
        width: 100px;
        border-radius: 100%;
        margin: 3px 0px;
    }
    .shared-date{
        color: gray;
        font-size: 15px;
    }
    .follow{
        border:solid 0px blue;
        border-right:solid  4px #00a39e!important;
        background: #efefef !important;
        margin-right: -15px;
        margin-top: 10px;
    }

    .my-margin-10{
	margin-right: 10px !important;
    }
    .descarga{
        background: gray;
        border-radius: 5px;
        color: #fff;
        margin-top: 5px;
        width: 56px;
        height: 26px;
        text-align: center;
        margin-right: 5px;
        margin-bottom: 0px;
	    margin-left: 10px !important;
        padding-top: 4px;
    }
    .nombre-arti{
        font-size: 18px;
        margin-bottom: 15px;
    }
    .content-secion3{
        margin: 10px 0px;
    }

    /*raiting*/
    .btn-grey{
        background-color:#D8D8D8;
        color:#FFF;
    }
    .rating-block{
        background-color:#FAFAFA;
        border:1px solid #EFEFEF;
        padding:15px 15px 20px 15px;
        border-radius:3px;
    }
    .bold{
        font-weight:700;
    }
    .review-block-name{
        font-size:12px;
        margin:10px 0;
    }
    .review-block-date{
        font-size:12px;
    }
    .review-block-rate{
        font-size:13px;
        margin-bottom:15px;
    }
    .review-block-title{
        font-size:15px;
        font-weight:700;
        margin-bottom:10px;
    }
    .review-block-description{
        font-size:13px;
    }
}

@media only screen and (min-width: 1900px){

}
